<template>
  <div>
    <PaginaNoua title="The Hobbit" subtitle="O calatorie neasteptata">
      <img src="https://play-lh.googleusercontent.com/lbtcd_hhJRZWLRyfah6cG8Crzhz9yhw7Co44K1OmkQUMw_ywN31GDuICu7XxsxF18Iw" alt="Imagine Hobbit">
    </PaginaNoua>
    <PaginaNoua></PaginaNoua>
    <PaginaNoua>
      <i>biblioteca rao</i>
    </PaginaNoua>
    <PaginaNoua></PaginaNoua>
    <PaginaNoua>
      <h1 slot="title1"><span>J.R.R Tolkien</span><br> The Hobbit</h1>
      <h2 slot="subtitle1">Traducerea din engleza<br> Irina Horea</h2>
    </PaginaNoua>
    <PaginaNoua></PaginaNoua>
    <PaginaNoua>
      <h1 slot="cuprins">Cuprins</h1>
      <ol slot="ordered-list">
        <li><a href="#capitol-1">O petrecere neasteptata........................................................................9</a></li>
        <li><a href="#capitol-2">Berbec la frigare...................................................................................36</a></li>
        <li><a href="#capitol-3">Scurt ragaz de odihna..........................................................................54</a></li>
        <li><a href="#capitol-4">Peste munti si pe sub munti................................................................64</a></li>
        <li><a href="#capitol-5">Ghicitori in bezna..................................................................................77</a></li>
      </ol>
    </PaginaNoua>
    <PaginaNoua id="capitol-1">
      <h1 slot="primul-capitol">Capitolul I</h1>
      <p slot="paragraph-cap1">   This popular paperback edition of the classic work of fantasy, with a striking new black cover based on
        JRR Tolkien’s own design and featuring brand new reproductions of all his drawings and maps.<br>
        <br>Bilbo Baggins is a hobbit who enjoys a comfortable, unambitious life, rarely travelling further than the pantry
        of his hobbit-hole in Bag End. But his contentment is disturbed when the wizard, Gandalf, and a company of
        thirteen dwarves arrive on his doorstep one day to whisk him away on an unexpected journey ‘there and back
        again’. They have a plot to raid the treasure hoard of Smaug the Magnificent, a large and very dangerous
        dragon…<br>
        <br>The prelude to The Lord of the Rings, The Hobbit has sold many millions of copies since its
        publication in 1937, establishing itself as one of the most beloved and influential books of the twentieth
        century.</p>
    </PaginaNoua>
    <PaginaNoua id="capitol-2">
      <h1 slot="title-capitol-doi">Capitolul II</h1>
      <p slot="paragraph1-capitol-2">
        Bilbo wakes up rather late the morning after Gandalf’s visit. He is surprised—and a little relieved—to see that the dwarves have left without him. He is just sitting down to a quiet breakfast when Gandalf enters and rushes him off to the Green Dragon Inn, in Bywater, where Thorin and the rest of the dwarves have been waiting to begin their journey. As they head east on the main road, Bilbo sulks at having to leave without finishing his second breakfast or making proper preparations. It begins to rain. By the time dusk approaches, the whole company is tired, hungry, ready to camp, and annoyed at Gandalf’s mysterious disappearance earlier in the day.
      </p>
      <p slot="paragraph2-capitol-2">
        Suddenly they see what looks like the light of a fire in the distance. They move closer to investigate it, and Bilbo is sent ahead in his first official task as burglar. As he approaches a clearing in the woods, Bilbo sees three huge trolls sitting around a fire, eating mutton. Bilbo tries to make off with one of the trolls’ money purses, but they hear the noise and grab him. Trolls will eat just about anything, but they are also short-tempered and dull-witted. They proceed to fight about how to interrogate Bilbo.
      </p>
    </PaginaNoua>
    <PaginaNoua id="capitol-3">
      <h1 slot="title-capitol-trei">Capitolul III</h1>
      <p slot="paragraph1-capitol-3">As the company sets off the next morning, Gandalf explains that he has checked the road ahead up to the last safe stop along their way. This stop is Rivendell, a city of elves located just beyond the Edge of the Wild, near the foothills of the Misty Mountains, which the company will have to pass. As the company approaches Rivendell, a number of elves approach them and invite them back to eat and rest. During their stay, they meet Elrond, the great chief elf, who is “as strong as a warrior, as wise as a wizard, as venerable as a king of dwarves, and as kind as summer.”</p>
      <p slot="paragraph2-capitol-3">Elrond can interpret the ancient runes, or markings, found on the company’s new weapons and on Thorin’s map of the mountain. The swords taken from the trolls, he tells them, are renowned goblin-killers from the great wars between the elves and the goblins. Gandalf’s sword is called Glamdring, and Thorin’s is named Orcrist. On Thorin’s map, Elrond is able to read moon-letters—writing visible only in the light of the moon in the proper phase—that describe how to find the secret entrance on the Lonely Mountain. Though they are puzzled by the message, the group is in high spirits when they depart from Rivendell. Everyone is well rested and prepared for the road ahead.</p>
    </PaginaNoua>
    <PaginaNoua id="capitol-4">
      <h1 slot="title-capitol-4">Capitolul IV</h1>
      <p slot="paragraph1-capitol-4">Bilbo and company advance upon the Misty Mountains. Thanks to Elrond’s and Gandalf’s advice, they are able to find a good pass over the mountain range among the many dead-end trails and drop-offs. Still, the climb is long and treacherous. A violent thunderstorm breaks suddenly, forcing them to find shelter. Luckily, two of the dwarves (Fili and Kili) find a cave in a side of the mountain. They bring in the ponies and make camp for the night.</p>
      <p slot="paragraph2-capitol-4">In the middle of the night, Bilbo wakes with a start, just in time to see the ponies get dragged into an enormous crack that has opened in the cave wall. He yells, and out of the crack jump dozens of goblins, who tie up and carry off each member of the company except Gandalf, who was forewarned by Bilbo’s yell.</p>
      <p slot="paragraph3-capitol-4">The goblins carry the dwarves and the hobbit down into the mountain to a huge chamber where the Great Goblin sits. He demands to know what the travelers are doing in his mountain. Thorin tries to explain about the storm, but one of the goblins brings forth the sword that Thorin took from the trolls, which he was carrying when captured. This sword, Orcrist, the goblin-cleaver, is well-known among the goblins.</p>
    </PaginaNoua>
    <PaginaNoua id="capitol-5">
      <h1 slot="title-capitol-5">Capitolul V</h1>
      <blockquote slot="paragraph1-capitol-5">When Bilbo regains consciousness, he can see nothing in the darkness. Feeling around on the floor, he happens to come across a ring, which he puts in his pocket. He has no idea where the rest of the company is, or in which direction the exit lies. Picking the path he feels he had been traveling with the dwarves, he soon comes across an underground lake. There, he discovers a strange creature named Gollum. When Gollum sees Bilbo prowling around, obviously lost, he is interested and a bit hungry, so he approaches the hobbit. Bilbo brandishes his sword when he hears Gollum’s hissing voice.</blockquote>
      <blockquote slot="paragraph1-capitol-5">Gollum does not wish to contend with the sword, so he proposes a riddle game. If Gollum’s riddle stumps Bilbo, he will eat Bilbo, but if Bilbo’s stumps Gollum, Gollum will show Bilbo the way out of the mountain. Bilbo has no choice but to agree, and they begin asking each other riddles. In the end, Bilbo wins through a bit of trickery. Referring to the ring he had found, he asks, “What have I got in my pocket?” and Gollum cannot guess the right answer. Gollum, however, does not intend to let his meal get away so easily. He goes to his island in the middle of the lake to get his “precious,” a golden ring that makes its wearer invisible—the very ring that Bilbo had found.</blockquote>
    </PaginaNoua>
  </div>
</template>

<script>
import PaginaNoua from 'components/PaginaNoua'
export default {
  name: 'Home',
  components: {
    PaginaNoua
  }
}
</script>

<style lang="scss" scoped>

</style>
