<template>
  <div>
    <h1>Login</h1>
    <form action="/">
      <BaseInput label="email" id="email" placeholder="email"/>
    </form>
  </div>
</template>

<script>
import BaseInput from 'components/BaseInput'
export default {
  name: 'Login',
  components: {
    BaseInput
  }
}
</script>

<style scoped>

</style>
