<template>
  <div>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
  </div>
</template>

<script>
export default {
  name: 'BaseTitle',
  props: ['title', 'subtitle']
}
</script>

<style scoped>

</style>
