<template>
  <div>
    <label :for="id">{{label}}</label>
    <input type="text" :id="id" :placeholder="placeholder">
    <span></span>
  </div>
</template>

<script>
export default {
  name: 'BaseInput',
  props: ['label', 'id', 'placeholder']
}
</script>

<style scoped>

</style>
