<template>
  <div class="pagina-noua">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <slot/>
    <slot name="title1"></slot>
    <slot name="subtitle1"></slot>
    <slot name="cuprins"></slot>
    <slot name="ordered-list"></slot>
    <slot name="primul-capitol"></slot>
    <slot name="paragraph-cap1"></slot>
    <slot name="title-capitol-doi"></slot>
    <slot name="paragraph1-capitol-2"></slot>
    <slot name="paragraph2-capitol-2"></slot>
    <slot name="title-capitol-trei"></slot>
    <slot name="paragraph1-capitol-3"></slot>
    <slot name="paragraph2-capitol-3"></slot>
    <slot name="title-capitol-4"></slot>
    <slot name="paragraph1-capitol-4"></slot>
    <slot name="paragraph2-capitol-4"></slot>
    <slot name="paragraph3-capitol-4"></slot>
    <slot name="title-capitol-5"></slot>
    <slot name="paragraph1-capitol-5"></slot>
    <slot name="paragraph2-capitol-5"></slot>
  </div>
</template>

<script>
export default {
  name: 'PaginaNoua',
  props: ['title', 'subtitle']
}
</script>

<style lang="scss">
div.pagina-noua {
  height: 800px;
  width: 500px;
  border: 1px solid grey;
  margin: 15px auto 0;
  background-color: #F0F8FF;
  padding: 0 15px 0;
  h1, h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    line-height: 40px;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    font-size: 16px;
  }
  img {
    display: block;
    margin: 50px auto 0;
    box-shadow: 10px 10px 5px #ccc;
  }
}
span {
  color: red;
  font-size: 20px;

}
i {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
  a {
    text-decoration: none;
    color: grey;
  }
p {
  text-indent: 50px;
}
blockquote {
  text-indent: 50px;
}

</style>
